.details {
    summary {
        list-style: none;
    }
    border-bottom: 1px solid #979797;
}
.detailsHeader {
    font-size: 16px;
    letter-spacing: -0.44px;
    line-height: 18px;
    font-weight: 500;
}
.summary {
    padding: 11px 0;
    display: flex;
    justify-content: space-between;
    &::after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-image: url('../../assets/triangle-blue.png');
        background-size: contain;
        margin: 1px;
        background-repeat: no-repeat;
        rotate: 90deg;
    }
    &__active {
        &::after {
            rotate: 180deg;
        }
    }
}
.details[open] {
    .summary {
        &::after {
            rotate: 270deg;
        }
    }
}
.content {
    padding: 15px 17px;
    background-color: #f5f5f5;
}
