.heading {
    padding: 18px 16px 18px 22px;
    display: flex;
    width: 100%;
    gap: 22px;
    height: 70px;
    align-items: center;
    background-color: #000078;

    &__line {
        height: 36px;
        width: 1px;
        border: 1px solid #ffffff;
    }
}
